!!!
%html{ lang: 'en' }
  %head
    / basic page needs
    %meta{ charset: 'utf-8' }
    %meta{ name: 'author', content: data.me.full_name }
    %link{ rel: 'shortcut icon', href: '/images/favicon.ico', type: 'image/x-icon' }

    / mobile specific metas
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1' }

    / styles
    %link{ rel: 'stylesheet', href: '/stylesheets/blog.css' }

    / analytics
    = partial 'partials/google_analytics'

    / blog post specific
    %title= current_article.title
    %meta{ name: 'keywords', content: data.application.keywords + ', ' + current_article.tags.join(', ') }

  %body
    %main
      %article
        %h5= link_to(data.me.full_name, '/')
        %h5= time_tag current_article.date
        %h1= current_article.title
        / https://github.com/middleman/middleman-syntax/issues/24
        = preserve do
          = yield
