= wrap_layout :layout do
  - content_for :head do
    / styles
    %link{ rel: 'stylesheet', href: '/stylesheets/blog.css' }

    / blog post specific
    %title= current_article.title
    %meta{ name: 'keywords', content: data.application.keywords + ', ' + current_article.tags.join(', ') }

  %main
    %article
      %header
        %h5.author= link_to(data.me.full_name, '/')
        %h6.date= time_tag current_article.date
        %h1.title= current_article.title
      %main.markdown
        / https://github.com/middleman/middleman-syntax/issues/24
        = preserve do
          = yield
      %footer
        = partial '/partials/blog/post/signature'
        = partial '/partials/blog/post/disqus'
