%head{ prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ' }
  / basic page needs
  %meta{ charset: 'utf-8' }
  %title= data.me.full_name
  %meta{ name: 'author', content: data.me.full_name }
  %meta{ name: 'description', content: data.me.short_description }
  %meta{ name: 'application-name', content: config[:host] }
  %link{ rel: 'shortcut icon', href: '/assets/images/favicon.ico', type: 'image/x-icon' }

  / mobile specific metas
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1' }

  / styles
  %link{ rel: 'stylesheet', href: '/assets/stylesheets/site.css' }

  / analytics
  = partial 'partials/google_analytics'

  / seo
  %meta{ name: 'robots', content: 'index,follow' }
  %meta{ name: 'keywords', content: data.application.keywords }
  = partial 'partials/facebook'
  = partial 'partials/twitter'

  / verification
  = partial 'partials/pinterest'

  / identity
  = partial 'partials/google_structured_data'
