%ul.icons
  %li.icon
    .tooltip Email
    %a.circle.tooltip-target{href: "mailto:#{data.me.email}", target: '_blank'}
      %span.icon-envelope-o

  %li.icon
    .tooltip Github
    %a.circle.tooltip-target{href: "#{data.services.github.url}", target: '_blank'}
      %span.icon-github-alt

  %li.icon
    .tooltip LinkedIn
    %a.circle.tooltip-target{href: "#{data.services.linkedin.url}", target: '_blank'}
      %span.icon-linkedin

  %li.icon
    .tooltip Resume
    %a.circle.tooltip-target{href: "#{data.application.url}/assets/files/#{data.me.resume_file_name}", target: '_blank'}
      %span.icon-file-text-o