!!! XML
%urlset{ xmlns: 'http://www.sitemaps.org/schemas/sitemap/0.9' }
  %url
    %loc= config[:host]
    %lastmod= DateTime.now.to_time.iso8601
    %changefreq daily
  %url
    %loc= resume_url
    %lastmod= DateTime.now.to_time.iso8601
    %changefreq daily
  - blog.articles.each do |article|
    %url
      %loc= config[:host] + article.url
      %lastmod= article.date.iso8601
      %changefreq never
